.mainVisual {
  background-color: #fff;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .logo {
    height: 24px;
  }

  .textArea {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .category {
      font-size: 18.29px;
      letter-spacing: 0.04rem;
    }

    .caption {
      font-size: 14.22px;
      letter-spacing: 0.04rem;
      color: #8e9499;
    }
  }
}

.workSection {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .sectionTitle {
    font-size: 25.6px;
    font-weight: 600;
    letter-spacing: 0.04rem;
    margin: 0;
  }
}
.workList {
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 0;
  padding: 0 40px 0 24px;
}
